@charset "UTF-8";


/* ============== APOSTAR ==============*/
.grup {
    border: 1px solid rgba(255, 68, 0, 0.684);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grup div {
    display: inline-flex;
    flex-direction: row;
    }

.grup p {
    /* display: flex; */
    color: rgb(3, 0, 22);
    margin: auto;
    width: 80px;
    text-align: center;
    text-shadow: 1px 1px 8px rgb(3, 3, 75);
    background-color: rgba(255, 68, 0, 0.363);
    border-radius: 5px;
    font-size: 15px;
}


.tab-content div h2 {
    text-align: center;
}

.logos {
    width: 40px;
    padding: 10px 1px 10px 1px;
}

h3 {
    /* text-align: center; */
    margin-top: 7px;
    margin-bottom: 5px;
    padding-top: 10px;
}

.img {
    width: 40%;
    /* padding: 1px 20px 1px 20px; */
    box-shadow: 1px 2px 12px black;
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgba(229, 215, 215, 0.677);
}

.grid {
    border: 1px solid rgba(0, 0, 0, 0.214);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding: 10px 1px 25px 1px;
}

#campeaoArtilheiro {
    /* width: 50%; */
    border: 1px solid rgba(0, 0, 0, 0.216);
    display: block;
    align-items: center;
    overflow: auto;
    margin: auto;
    margin-top: 7px;
}

#inputGroupSelect02,
#inputGroupSelect01 {
    width: 40%;
}

form.control {
    width: 100px;
}

.custom-select {
    justify-content: center;
}

.grid h6 {
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 3px;
}

.grid>div {
    display: flex;
    justify-content: center;
    width: 85%;
    /* text-align: center; */
    box-shadow: 1px 2px 7px black;
    margin-top: 7px;
    border-radius: 17px;
}

.grid>div>.x {
    align-self: center;
    display: flex;
}

.placar {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    color: rgb(9, 41, 168);
}

.d-flex {
    border: 1px solid red;
}

.btnApostar {
    width: 100%;
    margin-top: 25px;
}

.modal {
    visibility: hidden;
    overflow: hidden;
    background-color: rgba(69, 69, 67, 0.847);
}

.apostaJogador img {
    margin-left: 0px;
    width: 100%;
    margin-top: 10px;
    border-radius: 1%;
    box-shadow: 1px 2px 7px black;
}

.allApostaJogador {
    /* width: 362px; */
    display: flex;
    flex-direction: column;
}

.allApostaJogador div a {
    margin-left: 0;
}

.duplo {
    background-color: rgba(0, 81, 255, 0.492);
}

.allApostaJogador div:hover {
    background-color: yellow;
}

.classifica{
    /* width: 362px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.classifica img{
    box-shadow: 2px 2px 7px black;
}