@charset "UTF-8";
@import "style.css";

#listaLiberta {
    padding: 12px;
}

#listaLiberta>li {
    text-align: justify;
    margin-top: 20px;
}

/* ============== APOSTAR ==============*/

h3 {
    text-align: center;
    margin-top: 7px; 
    margin-bottom: 5px; 
    padding-top: 10px;
}

.imag {
    /* border: 1px solid black; */
    width: 40%;
    box-shadow: 1px 2px 12px black;
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgba(229, 215, 215, 0.677);
}

.grid {
    
    border: 1px solid black;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.grid>h6 {
    font-size: 18px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 3px;
}

.grid>div {
    /* display: flex; */
    justify-content: center;
    /* width: 70%; */
    /* text-align: center; */
    box-shadow: 1px 2px 7px black;
    margin-top: 7px;
    border-radius: 17px;
}

.grid>div>.x {
    align-self: center;
    display: flex;
}

.placar {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    color: rgb(9, 41, 168);
}

.d-flex {
    border: 1px solid red;
}

.btnApostar {
    width: 70%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.modal {
    visibility: hidden; 
    overflow: hidden;
    background-color: rgba(69, 69, 67, 0.847);
}

/* ============== APOSTAS VÃLIDAS ==============*/
#apostasValidas {
    /* display: flex; */
    align-items: center;
    flex-direction: column;
}

#apostValidas td:nth-child(2) {
    width: 10%;
    overflow-x: auto; 
    white-space: nowrap;
    text-align: left;
}

#apostValidas td:nth-child(3) {
    width: 60%;
    overflow-x: auto; 
    white-space: nowrap;
}

#apostValidas td:nth-child(4) {
width: 25%;
overflow-x: auto; 
white-space: nowrap;
}

#apostValidas {
    border-collapse: collapse;
    width: 40%;
}

thead,
.title {
    background-color: rgb(125, 37, 37);
    color: white;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-align: center;
}

/* tbody > .derrota > td{
    background-color: rgba(255, 0, 0, 0.473);
} */

tbody > .vitoria > td{
    background-color: rgba(0, 255, 60, 0.473);
}

tbody>tr:nth-child(even) {
    background-color: rgba(202, 201, 202, 0.555);
}

tbody>tr:nth-child(odd) {
    background-color: white;
}


/* ===================== MEDIA 800 ===================== */
@media screen and (max-width: 800px) {
    .imag {
        /* border: 1px solid black; */
        width: 50%;
    }

    .logos {
        width: 130px;
    }

    /* .grid>div {
        width: 75%;
        text-align: center;
    } */

    .btnApostar {
        width: 75%;
    }

    #apostValidas {
        min-width: 50%;
    }
}

/* ===================== MEDIA 470 ===================== */
@media screen and (max-width: 470px) {
    .imag {
        /* border: 1px solid black; */
        width: 75%;
    }

    /* .grid>div {
        width: 50%;
    } */

    .btnApostar {
        width: 95%;
    }

    .logos {
        width: 100px;
    }
    th, td {
        border: 1px solid black;
        padding: 1px;
        text-align: center;   
    }

    #apostValidas {
        min-width: 97%;
    }

    /* .result {
        width: 60%;
    } */
    


    th {
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        text-align: center;
    }
    
}
